<%- layout('layouts/main.ejs') %>
<% var currentpage = 'info'; %>
        <!--GRAFICAS-->
    <section id="contenido">
        <div class="principal">
                <p>
                    Esta aplicación forma parte de un sistema conformado por una red inalámbrica de sensores
                    para el monitoreo de nitrógeno en plantas de cultivo de limón. La aplicación funciona como 
                    interfaz de usuario para la visualización de los datos recolectados por la red.
                </p>
                <p>   
                    El proyecto fue realizado por Cornejo Martínez María de los Ángeles, estudiante de la 
                    Unidad Profesional Interdisciplinaria en Ingeniería y Tecnologías Avanzadas.
                </p>
        </div>
    </section>

    <script> currentpage = '<%-currentpage%>' </script>
    <script src="/javascript/script.js"></script>
    